@{
  Layout = "_Layout";
}
@using FearGenerator.Models;
@model List<FearGenerator.Models.Movie>;
<div class="container">
<section class="survival">
<h1 class="survival bleeding">Movies</h1>

<ul>
  @foreach(Movie movie in Model)
  {
    <li>@Html.ActionLink($"{movie.Title}", "Details", new { id = movie.MovieId}) | @Html.ActionLink($"{movie.Subgenre.Name}", "Details", "Subgenres", new {id = movie.SubgenreId})</li>
  }
</ul>


<p>@Html.ActionLink("Search Movies", "Search")</p>
<p>@Html.ActionLink("Add a Movie", "Create")</p>
<p>@Html.ActionLink("See all Subgenres", "Index", "Subgenres")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
</section>
</div>